@media (max-width: 735px) {
  html {
    scrollbar-gutter: auto;
  }

  .cookie-consent-actions {
    flex-direction: row;
    justify-content: flex-start;
  }

  .cookie-consent--modal {
    top: 50%;
    left: 50%;
  }
}
