{% if page.meta.comments %}
<h2 id="__comments">{{ lang.t("meta.comments") }}</h2>
<script src="https://giscus.app/client.js" 
    data-repo="c2tz/blog.cta.li"
    data-repo-id="R_kgDOLHK93A" 
    data-category="Comments" 
    data-category-id="DIC_kwDOLHK93M4CdSTg"
    data-mapping="pathname" 
    data-strict="0" 
    data-reactions-enabled="1"
    data-emit-metadata="0" 
    data-theme="transparent_dark" 
    crossorigin="anonymous"
    data-lang="fr" 
    async></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var giscus = document.querySelector("script[src*=giscus]");
        var palette = __md_get("__palette");
        
        if (giscus) {
            if (palette && typeof palette.color === "object") {
                var theme = palette.color.scheme === "slate" ? "transparent_dark" : "light";
                giscus.setAttribute("data-theme", theme);
            }

            var paletteComponent = document.querySelector("[data-md-component=palette]");
            if (paletteComponent) {
                paletteComponent.addEventListener("change", function () {
                    var e = __md_get("__palette");
                    if (e && typeof e.color === "object") {
                        var t = e.color.scheme === "slate" ? "transparent_dark" : "light";
                        document.querySelector(".giscus-frame").contentWindow.postMessage({
                            giscus: {
                                setConfig: {
                                    theme: t
                                }
                            }
                        }, "https://giscus.app");
                    }
                });
            }
        }
    });
</script>
{% endif %}
